*.c linguist-detectable=true
*.asm linguist-detectable=true
Makefile* linguist-detectable=true

*.tex linguist-detectable=false
*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false
